.header{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  //grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 0px;
  height: 100px;  
  background-color: rgb(212, 238, 246);
  border-bottom-color: black;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.header__logo{
  grid-column: 1/2;
  //background-color: rgb(0, 30, 255);
  //grid-row: 1;
  //color: rgb(13, 0, 0);
  //font-size: x-large;
  //font-weight: bolder;
  padding-top: 10px;
  padding-left: 12px;
}
.header__login_loggedin{
  grid-column: 4/5;
  font-size: x-large;
  text-align: right;
  color: rgb(13, 0, 0);
}
.header__loggedin{
  grid-column: 4/5;
  text-align: right;
  padding-top: 15px;
}
.header__login{
  grid-column: 4/5;
  text-align: right;
  font-size: large;
  padding-top: 37px;
  font-weight: bolder;
  }

.header__start{
  grid-column: 5/6;
  
  padding-top: 30px;
  //background-color: rgb(201, 45, 201);
  //grid-row: 4;
  color: rgb(13, 0, 0);
}
.header__button{
  grid-column: 5/6;
  padding: 5px 20px;
  border-color: rgb(13, 0, 0) ;
  border-width:3px;
  border-style: solid ;
  border-radius: 25px;
  background-color:rgb(148, 225, 140) ;
  font-size: large;
  display: inline-block;
}
