
.deliverables__grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.deliverables__grid_left{
  padding-top: 20px;
  text-align: left;
  padding-right: 100px;
  grid-column: 1;
}
.deliverables__grid_right{
  padding-top: 20px;
  text-align: left;
  padding-right: 100px;
  grid-column: 2;
  height: 100%;
}

.deliverables__tables{
  height: 350px;
  width: 100%;
}

.fullSize__tables{
  height: 600px;
  width: 100%;
}

