$BORDER-RADIUS : 3px;

.general__outer_div{
  margin-top: 20px;
  padding-left: 100px;
  text-align: left;
  padding-bottom: 100px;
  margin-bottom: 100px;
}
.general__inner_element{
  padding-top: 10px;
}

.general__checkbox{

}
.container {
  display: flex;
  flex: 1;
}

.drawer {
  width: 20px;
  transition: width 0.7s;
  height: available;
}

.opened {
  width: 240px;
}

.main {
  flex: 1;
}

.pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */   /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.general__button{
  background-color: white;
  color: rgba(0, 0, 0, 0.75);
  margin-top: 20px;
  padding: 15px 22px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 15px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-right: 15px;
  border-radius: $BORDER-RADIUS;
  float: left;
}

.infoGrid {
  all: inherit;
  display: flex;
  //text-align: left;
  //align-content: start;
  grid-template-columns: 1fr auto;
}

.general__button__main{
  @extend .general__button;
  background-color: lightskyblue;
}

.general__button__secondary{
  @extend .general__button;
  background-color: white;
}
.general__button__third{
  @extend .general__button;
  background-color: white;
}

.general__button__grid{
}

.general__text_input{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 400px;
  margin-right: 50px;
  margin-top: 5px;
  border-width: 2px;
  border-radius: $BORDER-RADIUS;
}

.general__text_input__large{
  @extend .general__text_input;
  padding-bottom: 100px;
}

input[type=text]{
  padding-left: 15px;
  font-size: 20px;
}
input[type=password]{
  padding-left: 15px;
  font-size: 20px;
}
textarea{
  padding-left: 15px;
  font-size: 20px;
}

::placeholder{
  color: grey;
  opacity: 80%;
  font-style: italic;
  font-size: 15px;
  text-align: left;
  padding-left: 5px;
  padding-bottom: 3px;
}