.projectCard{
  border-style: solid;
  border-color: black;
  border-width: 4px;
  margin-top: 50px;
  width: 650px;
}
.projectCard__selected{
  @extend .projectCard;
  border-color: #216ba5;
}

.projectCard__inner{
  padding: 20px;
}

.projectCard__inner_grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, 190px);
}